@font-face {
  font-family: 'monteserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'open sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

#content {
  font-family: "monteserrat";
}