@font-face {
  font-family: 'monteserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'open sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

#content {
  font-family: "monteserrat";
}

.blue-button {
  background-color: #040C2C;
  color: white;
  border: 2px black solid;
  border-radius: 5px;
}

.white-button {
  color: #040C2C;
  background-color: white;
  border: 2px black solid;
  border-radius: 5px;
}