#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
  padding: 120px 20px 120px 20px;
}

.contact-title {
  font-size: 28px;
  font-weight: 1000;
  margin-bottom: 8px;
  padding-bottom: 9px;
}

.contact-details {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #797979;
  padding-top: 15px;
}

.contact-icon {
  max-width: 16px;
  opacity: 60%;
}


/* Tablet */
@media (min-width: 480px) {
  #contact {
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-items: center;
    align-items: center;
  }

  .contact-info {
    display: grid;
    grid-template-rows: 5vh 5vh 5vh 5vh 5vh;
  }
}

/* Laptop */
@media (min-width: 1024px) {

}

/* Desktop */
@media (min-width: 1440px) {

}