#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0 60px 0;
}

.skills-title {
  font-size: 30px;
  font-weight: 1000;
  margin: 0 0 12px;
}

.skills-subtitle {
  font-family: 'open sans';
  color: #797979;
}

.frontend, .backend, .dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 60px;
  width: 80%;
}

.skill-title {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 8px;
}

.skill {
  color: #797979;
  margin: 5px 0;
  text-align: center;
  font-family: 'open sans';
}

.circle {
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 80px;
  width: 80px;
  border-radius: 1000px;
  opacity: 45%;
}

.skill-icon {
  max-width: 50px;
}

.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}